<%- include('../partials/metadata') %>

<%- include('../partials/navbar', { profile }) %>

<main class="pt-16">
  <div class="flex justify-center">
    <section class='max-w-72 w-full flex justify-start mx-24'>
      <article class='w-full'>
        <h5 class='mx-5 mt-5 mb-2 text-xs font-bold tracking-tight text-gray-400 dark:text-white'>DAYCARE POSTS
        </h5>
        <div class='h-auto flex flex-wrap'>
          <%- include('../partials/post', { post: carePost }) %>
        </div>
      </article>
    </section>
  </div>
  </div>
</main>
<script>
  const copy = content => {
    navigator.clipboard.writeText(content);

    alert("Copied Link: " + content);
  }
</script>
<%- include('../partials/close') %>
